
.env
.vscode/
node_modules/
dist/
build/
*.log
*.env   
.DS_Store
coverage/
create-admin.js
seed-configs.js
seed-listings.js
seed.js

/backend/node_modules/
/backend/dist/
/backend/.env
/frontend/node_modules/
/frontend/build/
/frontend/.env
