# Copy this to .env and fill in your values

#DATA-BASE
MONGO_URI=mongodb+srv://<user>:<password>@cluster0.example.mongodb.net/hatemalo?retryWrites=true&w=majority
DB_PASSWORD=

#PORT
PORT=3000

#FRONTEND
FRONTEND_URL=https://your-frontend.vercel.app

#MAIL TRAP
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
EMAIL_FROM=no-reply@myapp.com

#JWT
JWT_SECRET_KEY=
JWT_EXPIRES_IN='30d'

#IMAGEKIT
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=

#GOOGLE-Oauth20
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
CALLBACK_URL=https://your-backend.onrender.com/auth/google/callback
